body{
    background-color: rgb(240, 240, 240);
}

.col-sm-4.logo{
    text-align: center;
}

.col-sm-4.p1{
    text-align: center;
    font-family: Fasthand;
    font-size:34px;
}

.col-sm-4.boton-reserva{
    text-align: center;
    margin: 1rem auto;
}
.titulo-animales{
    text-align: center;
    font-family: Fasthand; 
    font-size:34px;
}
.fondo-gato{
    background-color: bisque;
}
.menu-gato p{
    position: relative;
}
.texo-gato{
    text-align: start;
}
